<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qz.qizhi">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.qz.qizhi.kevin.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".kevin.main.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
        </activity>
        <activity android:name=".NewsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SettingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".EventActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".GrainSetting"
            android:screenOrientation="portrait"
            />
        <activity android:name=".DeviceSettingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".EditDeviceNameActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".EnvironmentSettingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".OutGrainSettingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".TempDataSettingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".GrainSpaceActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ShajunActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".JianceActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ResetActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SaveGrainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AddGrainTypeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".kevin.main.ModuleParameterActivity"
            android:screenOrientation="portrait"
            />

        <service
            android:name=".kevin.service.RFStarBLEService"
            android:enabled="true" >
        </service>
    </application>

</manifest>
